body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.advice-box {
    background-color: white;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    transition: transform 0.3s ease-in-out;
}
.advice-box:hover {
    transform: scale(1.05); 
}

.advice-text {
    font-size: 1.2rem;
    color: #333;
    font-weight: 500;
    margin: 0;
    line-height: 1.5;
}

.dice-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.dice-icon {
    font-size: 50px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out, box-shadow 0.3s;
}

.dice-icon:hover {
    transform: rotate(360deg);
    box-shadow: 0 0 10px #00d4ff, 0 0 30px #00d4ff, 0 0 50px #00d4ff;
}

.advice-image-container img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 20px;
    transition: transform 0.4s ease-in-out;
}

.advice-image-container img:hover {
    transform: scale(1.05);
}

